<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xrgx.courseonline.mapper.CourseMapper">
    <select id="findAll" resultType="course">
        select * from tab_course
    </select>

    <insert id="insertSelection" parameterType="string">
        insert into tab_selection
        values (#{sid}, #{cid})
    </insert>

    <delete id="deleteSelection" parameterType="string">
        delete from tab_selection
        where sid = #{sid}
        and cid = #{cid}
    </delete>

    <select id="findSelection" parameterType="string" resultType="course">
        select tab_course.*
        from tab_selection, tab_course
        where tab_selection.sid = #{sid}
        and tab_selection.cid = tab_course.cid
    </select>

    <update id="capacityUp" parameterType="string">
        update tab_course
        set cnum = cnum + 1
        where cid = #{cid}
    </update>

    <update id="capacityDown" parameterType="string">
        update tab_course
        set cnum = cnum - 1
        where cid = #{cid}
    </update>
</mapper>