<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xrgx.courseonline.mapper.StudentMapper">
    <select id="findStuByUsrAndPwd" resultType="student" parameterType="string">
        select * from tab_student
        where sid = #{id}
        and spwd = #{password}
    </select>

    <update id="changPwdByIdAndPwd" parameterType="string">
        update tab_student
        set spwd = #{newPwd}
        where sid = #{sid}
        and spwd = #{oldPwd}
    </update>
</mapper>