<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>选课</title>
    <script src="js/jquery-1.11.0.min.js"></script>
    <script>

        $(document).ready(function () {
            var str = '<tbody>';
            //展示所有课程
            $.get("course/showAllCourse", {}, function (list) {
                for (var i = 0; i < list.length; i++) {
                    var course = list[i];
                    str += '        <tr>\n' +
                        '            <td><input type="checkbox" ></td>\n' +
                        '            <td>'+course.cid+'</td>\n' +
                        '            <td>'+course.cname+'</td>\n' +
                        '            <td><a href="showTeacher.html?tid='+course.tid+'" target="_blank">'+course.tid+'</a></td>\n' +
                        '            <td>'+course.chour+'</td>\n' +
                        '            <td>'+course.cmark+'</td>\n' +
                        '            <td>'+course.ccollege+'</td>\n' +
                        '            <td>'+course.cnum+'</td>\n' +
                        '             <td>'+course.ctimeplace+'</td>\n' +
                        '        </tr>';
                }
                str += "</tbody>";
                $("#selection").append(str);
            });
            //选课--------多谢郑炜焜
            var courses = new Array();
            $('#selection').delegate("input","click",function () {
                var td = $(this).parents("tr").find("td");
                if ($(this).prop("checked")) {
                    courses.push(td.eq(1).text());
                }
            });

            $.post("student/findStudent", {}, function (student) {
               if (student) {
                   $("#submit_course").click(function(){
                       $.get("course/selectCourse", {courses:courses.toString()}, function (data) {
                           alert(data.errorMsg);
                           if (data.flag) {
                               location.href = "showSelection.html";
                           }
                       });
                   });
               } else {
                   alert("尚未登录");
               }
            });

        });



    </script>
</head>
<body>
<button id="submit_course" >确认选课</button>

    <table id="selection" border="1px" cellspacing="0px" cellpadding="10px">
        <thead>
        <tr>
            <th>选课</th>
            <th>课程编号</th>
            <th>课程名</th>
            <th>授课教师</th>
            <th>学时</th>
            <th>学分</th>
            <th>所属学院</th>
            <th>学生容量</th>
            <th>时间地点</th>
        </tr>
        </thead>
    </table>


</body>


</html>