<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>已选课程</title>
</head>

<script>
/*    $(function () {
        //获取地址栏中的参数，即问号及问号以后的内容
        var search = location.search;
        //字符串分割，获取tid
        var tid = search.split("=")[1];
        var str = '<tbody>';
       $.get("course/showSelectedCourse", {}, function (list) {
           //展示已选课程
           for (var i = 0; i < list.length; i++) {
               var course = list[i];
               str += '        <tr>\n' +
                   '            <td>'+course.cid+'</td>\n' +
                   '            <td>'+course.cname+'</td>\n' +
                   '            <td><a href="showTeacher.html?tid='+course.tid+'" target="_blank">'+course.tid+'</td>\n' +
                   '            <td>'+course.chour+'</td>\n' +
                   '            <td>'+course.cmark+'</td>\n' +
                   '            <td>'+course.ccollege+'</td>\n' +
                   '            <td>'+course.cnum+'</td>\n' +
                   '            <td>'+course.ctimeplace+'</td>\n' +
                   '            <td><input type="button" value="退选"></td>\n' +
                   '        </tr>';
           }
           str += "</tbody>";
           $("#selected_course").append(str);
       }) ;


        //退选
        $('#selected_course').delegate("input","click",function () {
            if (confirm("您是否要退选该课程？")) {
                var cid = $(this).parent("td").parent("tr").find("td").eq(0).text();
                $.get("course/dropCourse", {cid: cid}, function (flag) {
                    if (flag) {
                        alert("退选成功");
                        location.reload();//刷新页面
                    } else {
                        alert("退选失败");
                    }
                });
            }
        });
    });*/
</script>
<body>
<table id="selected_course" border="1px" cellspacing="0px" cellpadding="10px">
    <thead>
    <tr>
        <th>课程编号</th>
        <th>课程名</th>
        <th>授课教师</th>
        <th>学时</th>
        <th>学分</th>
        <th>所属学院</th>
        <th>学生容量</th>
        <th>时间地点</th>
        <th>退选</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="course:${selection}">
        <td th:text="${course.cid}"></td>
        <td th:text="${course.cname}"></td>
        <td th:text="${course.tid}"></td>
        <td th:text="${course.chour}"></td>
        <td th:text="${course.cmark}"></td>
        <td th:text="${course.ccollege}"></td>
        <td th:text="${course.cnum}"></td>
        <td th:text="${course.ctimeplace}"></td>

        <td>
            <button th:attr="del_uri=@{/course/}+${course.cid}+@{/}+${session.loginStu.sid}" class="deleteBtn">
                退选
            </button>
        </td>
    </tr>
    </tbody>
</table>

<script type="text/javascript" th:src="@{/webjars/jquery/3.4.1/jquery.js}"></script>
<script>
    //监视所有deleteBtn类型的退选按钮，触犯单击就提交
    $(".deleteBtn").click(function () {
        if (confirm("确定不学这门课了？")) {
            //发送ajax请求
            $.ajax({
                url : $(this).attr("del_uri"),
                type : 'delete'
            });
            $(this).attr("disabled", true);
        }

    });
</script>
</body>
</html>