<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>已选课程</title>
</head>

<script>

</script>
<body>
<table id="selected_course" border="1px" cellspacing="0px" cellpadding="10px">
    <thead>
    <tr>
        <th>课程编号</th>
        <th>课程名</th>
        <th>授课教师</th>
        <th>学时</th>
        <th>学分</th>
        <th>所属学院</th>
        <th>学生容量</th>
        <th>时间地点</th>
        <th>退选</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="course:${selection}">
        <td th:text="${course.cid}"></td>
        <td th:text="${course.cname}"></td>
        <td><a th:href="'/teacher/'+${course.tid}" th:text="${course.tid}"></a></td>
        <td th:text="${course.chour}"></td>
        <td th:text="${course.cmark}"></td>
        <td th:text="${course.ccollege}"></td>
        <td th:text="${course.cnum}"></td>
        <td th:text="${course.ctimeplace}"></td>

        <td>
            <button th:attr="del_uri=@{/course/}+${course.cid}+@{/}+${session.loginStu.sid}" class="deleteBtn">
                退选
            </button>
        </td>
    </tr>
    </tbody>
</table>

<script type="text/javascript" th:src="@{/webjars/jquery/3.4.1/jquery.js}"></script>
<!--<script type="text/javascript" src="js/jquery-3.4.1.js"></script>-->
<script>
    //监视所有deleteBtn类型的退选按钮，触犯单击就提交
    $(".deleteBtn").click(function () {
        if (confirm("确定不学这门课了？")) {
            //发送ajax请求
            $.ajax({
                url : $(this).attr("del_uri"),
                type : 'delete'
            });
            $(this).attr("disabled", true);
        }

    });
</script>
</body>
</html>