<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>欢迎界面</title>
</head>
<script src="js/jquery-3.4.1.min.js"></script>
<!--垃圾旧代码-->
<!--<script>
    $(function () {
        $.post("student/findStudent", {}, function (data) {
            var msg = "欢迎回来，" + data.sname;
            $("#msg").html(msg);
        });
        $.get("student/countStudent", {}, function (stuNum) {
            $("#stuNum").html("在线人数：" + stuNum);
        });

    });
</script>-->
<body>
    欢迎回来，<a href="/findSelf">[[${session.loginStu.sname}]]</a>
    <div id="msg"></div>
    <div id="stuNum"></div>
    <a href="javascript:location.href='/goAlter'">修改密码</a><br>
    <a href="javascript:location.href='/student/exit'">退出</a><br>
    <a href="javascript:location.href='/course/showAll'">选课</a><br>
    <a href="javascript:location.href='showSelection.html'">查看已选课程</a><br>
</body>
</html>